.accordion {
    
}
.accordion .item {
    
}
.accordion .title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid #dddddd;
}

.accordion .title::after {
    content: "";
    display: block;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    background: url("../../images/icon-arrow-down.svg") no-repeat center / 100%;
}
.accordion .item.active .title::after {
    transform: rotate(180deg);
}
.accordion .content {
    display: none;
    padding: 16px;
    line-height: 1.3;
    background: #f1f1f1;
}
.accordion .item.active .content {
    display: block;
}
.accordion {
    
}