/* =============== button =============== */
.btn-group {
    display: flex;
    gap: 10px;
}

.btn-group .btn {
    flex: 1;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    min-height: 40px;
    border: 1px solid transparent;
    vertical-align: middle;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.7;
}

.btn--link {
    text-decoration: underline;
}

.btn-l {
    min-width: 100px;
}
.btn-f {
    width: 100%;
}
.btn-m {
    min-width: 72px;
}

.btn-s {
    padding: 6px 12px;
    font-size: 0.875rem;
}

.btn:disabled {
    background: #dddddd;
    color: #555555;
}

.btn--primary {
    background-color: #587fef;
    color: #ffffff;
}

.btn--secondaly {
    border: 1px solid #dddddd;
}

.btn--danger {
    background: rgb(255, 119, 119);
    color: #ffffff;
}

/* top button */
.top-btn {
    width: 60px;
    height: 60px;
    background: #587fef;
    color: #fff;
}

/* zoom 버튼 */
.zoom-btn-group {
    display: flex;
    gap: 5px;
}

.zoom-btn-group .btn-list {
    display: flex;
    gap: 5px;
}

.zoom-btn {
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    background: #dddddd;
}
