@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

.preview {
	margin: 0 auto;
	height: 650px;
	border: 10px solid var(--color-block);
	border-radius: 10px;
	transition: 0.3s max-width ease;

	&.desktop {
		max-width: 1500px;
	}

	&.tablet {
		max-width: 900px;
	}

	&.mobile {
		max-width: 375px;
	}

	iframe {
		border: none;
	}
}

.code {
	max-width: 1200px;
	margin: 0 auto;

	.code-title {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 8px 15px 8px 25px;
		border-radius: 15px 15px 0 0;
		font-size: 0.9rem;
		background: #0e0f1b;

		p {
			margin: 0;
		}

		.btn-copy {
			padding: 0;
			opacity: 0.8;
			color: var(--color-gray);
		}

		.speech-bubble {
			width: 70px;
			padding: 7px 2px;
			text-align: center;
			color: white;
			position: absolute;
			background: #159eca;
			border-radius: 5px;
			top: 5px;
			right:45px;
			font-weight: 100;
			font-size: 12px;

			&:after {
				content: '';
				position: absolute;
				right: 0;
				top: 50%;
				width: 0;
				height: 0;
				border: 7px solid transparent;
				border-left-color: #159eca;
				border-right: 0;
				margin-top: -7px;
				margin-right: -5px;
			}
		}
		
	}

	pre {
		margin: 0;
		background: #282c34;
		border-radius: 0 0 15px 15px;
		overflow: hidden;
	}

	code {

		&::-webkit-scrollbar {
			width: 8px;
			height: 8px;
		}
		
		/* Track */
		&::-webkit-scrollbar-track {
			background: #282c34;
		}
		
		/* Handle */
		&::-webkit-scrollbar-thumb {
			border-radius: 5px;
			background: #0e0f1b;
		}
		
		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
			background: #0e0f1b;
		}

		span {
			font-family: "Fira Code", monospace;
		}
	}
}
