.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 0 1rem;
    height: 50px;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);
    backdrop-filter: blur(5px);
    
    h1 {
        margin: 0;

        a {
            display: flex;
        }

        img {
            width: 200px;
        }
    }

    .device {
        flex-basis: 200px;
        display: flex;
        align-items: center;
        gap: 1rem;

        &.dark {
            color: #fff;
        }
    }

    .theme {
        color: var(--color-yellow);

        &.light {

        }
        &.dark {

        }
    }
}