.sideNav {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 1rem;
    flex-basis: 200px;
    height: calc(100vh - 82px);
    background-color: var(--color-bg);

    
    a {
        font-size: 1rem;
        color: var(--color-block);
        
        &.active {
            color: var(--color-blue);
        }
    }

}