@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
    color-scheme: light dark;
    color: #000;
    --color-bg-dark: #fff;
    --color-bg: #f5f5f5;
    --color-dark: #22252f;
    --color-block: #2e2e2e;
    --color-yellow: #f8b600;
    --color-blue: #149eca;
}

html.darkMode {
    --color-bg-dark: #22252f;
    --color-bg: #0e0f1b;
    --color-dark: #fff;
    --color-block: #e0e0e0;
}

body, 
html {
    margin: 0;
    background-color: var(--color-bg-dark);
    font-family: 'Pretendard-Regular';
}

a {
    text-decoration: none;
    color: var(--color-block);

    &.active {
        color: var(--color-blue);
    }
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

@media (prefers-color-scheme: light) {
    /* 라이트 모드에 적용할 스타일 정의 */
}

@media (prefers-color-scheme: dark) {
    /* 다크 모드에 적용할 스타일 정의 */
}